<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
    <meta name="keywords" content="Books, Learning, Library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    
    <!-- Favicon -->
    <link rel="icon" href="{% static 'qu-icon.png' %}">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>

    <div>
        <a href="{% url 'books.index' %}">Home</a>
        <a href="{% url 'books.list_books' %}">List Books</a>
        <a href="{% url 'books.aboutus' %}">About</a>
    </div>

    <!-- Main Content Block -->
    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
