{% extends 'layouts/base.html' %}

{% load static %}
{% block title %}List of Books{% endblock %}

{% block content %}
    <h1>List of Books</h1>

    <a href="{% url 'books.view_one_book' bookId=1 %}">
        <h2>Internet & World Wide Web How to Program</h2>
        <img src="{% static 'book1.jpg' %}" alt="Book 1 Image" width="200" height="200">
    </a>
    <hr>

    <h2>Available Books</h2>
    <a href="{% url 'books.view_one_book' bookId=2 %}">
        <img src="{% static 'book2.jpg' %}" alt="Book 2 Image" width="200" height="200">
    </a>
    <hr>

    <h2>Available Books</h2>
    <a href="{% url 'books.view_one_book' bookId=3 %}">
        <img src="{% static 'book3.jpg' %}" alt="Book 3 Image" width="200" height="200">
    </a>
    <hr>
{% endblock %}
