
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <style>
        h2 {
            color: green;
        }
    </style>
</head>
<body>

    <div>
        <a href="{% url 'books.index' %}">Home</a>
        <a href="{% url 'books.list_books' %}">List Books</a>
        <a href="{% url 'books.aboutus' %}">About</a>
    </div>

    <h1>List of Books</h1>

    <!-- First Book -->
    <a href="{% url 'books.view_one_book' bookId=1 %}">
        <h2>Internet & World Wide Web How to Program</h2>
        <img src="{% static 'book1.jpg' %}" alt="Book 1 Image" width="200" height="200">
    </a>
    <hr>

    <!-- Second Book -->
    <h2>Available Books</h2>
    <a href="{% url 'books.view_one_book' bookId=2 %}">
        <img src="{% static 'book2.jpg' %}" alt="Book 2 Image" width="200" height="200">
    </a>
    <hr>

    <!-- Third Book -->
    <h2>Available Books</h2>
    <a href="{% url 'books.view_one_book' bookId=3 %}">
        <img src="{% static 'book3.jpg' %}" alt="Book 3 Image" width="200" height="200">
    </a>
    <hr>

</body>
</html>  
