<!---<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Show one Book</title>
    <meta name="keywords" content="Books, recent, Learning, library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    <link rel="icon" href="qu-icon.png">
    <meta charset="UTF-8">
</head>
<body>

<a href="list_books.html">Go Back</a>
<h1>Details of Book1</h1>
<h2>Internet & World Wide Web How to Program</h2>
<h2>Author: author name</h2>
<p><strong> Internet & World Wide Web How to Program, 5/e </strong> provides a
clear, simple, engaging and entertaining introduction to Internet and web
programming. It’s appropriate for both introductory and intermediate-level client-
side and server-side programming courses.</p>
<img src="book1.jpg" alt="Book1 img desc" width="200" height="200">
</body>
</html>
-->



<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
    <meta name="keywords" content="Books, Learning, Library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    
    <!-- Favicon -->
    <link rel="icon" href="{% static 'qu-icon.png' %}">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">


    
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>

    <div>
        <a href="{% url 'books.index' %}">Home</a>
        <a href="{% url 'books.list_books' %}">List Books</a>
        <a href="{% url 'books.aboutus' %}">About</a>
    </div>

    <!-- Main Content Block -->
    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
